In [1]:
import numpy as np, pandas as pd

s4 = pd.Series(np.array([1, 2, 3, 4, 4, 5, 6, 7, 1, 2]))
print(s4)

0    1
1    2
2    3
3    4
4    4
5    5
6    6
7    7
8    1
9    2
dtype: int64

In [2]:
print(s4.index)

RangeIndex(start=0, stop=10, step=1)

In [3]:
s4.index = ['a', 'b', 'c', 'd', 'e', 'f']

print(s4)

ValueError: Length mismatch: Expected axis has 10 elements, new values have 6 elements

In [4]:
s4.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
print(s4)

a    1
b    2
c    3
d    4
e    4
f    5
g    6
h    7
i    1
j    2
dtype: int64

In [6]:
print(s4.index)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [7]:
print(s4[:'d'])

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
stu_dic = {'Age': [14, 13, 13, 14, 14, 12, 12, 15, 13, 12, 11, 14, 12, 15, 16, 12, 15, 11, 15],
           'Height': [69, 56.5, 65.3, 62.8, 63.5, 57.3, 59.8, 62.5, 62.5, 59, 51.3, 64.3, 56.3, 66.5, 72, 64.8, 67,
                      57.5, 66.5],
           'Name': ['Alfred', 'Alice', 'Barbara', 'Carol', 'Henry', 'James', 'Jane', 'Janet', 'Jeffrey', 'John',
                    'Joyce', 'Judy', 'Louise', 'Marry', 'Philip', 'Robert', 'Ronald', 'Thomas', 'Willam'],
           'Sex': ['M', 'F', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M'],
           'Weight': [112.5, 84, 98, 102.5, 102.5, 83, 84.5, 112.5, 84, 99.5, 50.5, 90, 77, 112, 150, 128, 133, 85,
                      112]}

student = pd.DataFrame(stu_dic)
print(type(stu_dic))

<class 'dict'>

In [9]:
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [10]:
print(student.head())

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5

In [11]:
print(student.tail())

    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0

In [12]:
print(student.loc[[0,2,4,7]])

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
7   15    62.5    Janet   F   112.5

In [13]:
print(student[['Name']])

       Name
0    Alfred
1     Alice
2   Barbara
3     Carol
4     Henry
5     James
6      Jane
7     Janet
8   Jeffrey
9      John
10    Joyce
11     Judy
12   Louise
13    Marry
14   Philip
15   Robert
16   Ronald
17   Thomas
18   Willam

In [14]:
print(student[:5,['Name','Height']])

TypeError: unhashable type: 'slice'

In [15]:
print(student.loc[:5, ['Name', 'Height']])

      Name  Height
0   Alfred    69.0
1    Alice    56.5
2  Barbara    65.3
3    Carol    62.8
4    Henry    63.5
5    James    57.3

In [16]:
print(student.loc[:0, ['Name', 'Height']])

     Name  Height
0  Alfred    69.0

In [17]:
print(student[(student['Sex'] == 'F') & & student['Age'] >= 12]['Name','Height','Weight'])

SyntaxError: invalid syntax (<ipython-input-17-5b157f2cc01d>, line 1)

In [18]:
print(student[(student['Sex'] == 'F') & student['Age'] >= 12]['Name','Height','Weight'])

KeyError: ('Name', 'Height', 'Weight')

In [19]:
print(student[(student['Sex'] == 'F') & & student['Age'] >= 12][['Name','Height','Weight']])

SyntaxError: invalid syntax (<ipython-input-19-8b45ca7afaed>, line 1)

In [20]:
print(student[(student['Sex'] == 'F') & student['Age'] >= 12][['Name','Height','Weight']])

Empty DataFrame
Columns: [Name, Height, Weight]
Index: []

In [21]:
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [22]:
print(student[(student['Sex'] == 'F') & student['Age'] >= 12][['Name','Height','Weight']])

Empty DataFrame
Columns: [Name, Height, Weight]
Index: []

In [23]:
print(student[(student['Sex']=='F') & (student['Age']>12)])

    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0

In [24]:
np.random.seed(1234)
d1 = pd.Series(2 * np.random.normal(size=100) + 3)
d2 = np.random.f(2, 4, size=100)
d3 = np.random.randint(1, 100, size=100)

print(d1)
print(10*'=')
print(d2)
print(10*'=')
print(d3)

0     3.942870
1     0.618049
2     5.865414
3     2.374696
4     1.558823
5     4.774326
6     4.719177
7     1.726953
8     3.031393
9    -1.485370
10    5.300071
11    4.983892
12    4.906648
13   -1.042510
14    2.331845
15    3.004237
16    3.810907
17    3.578184
18    5.642316
19   -0.093811
20    2.594707
21    1.688061
22    3.386843
23    4.106878
24    5.636303
25    2.061389
26    4.351108
27   -0.634054
28    2.633783
29    5.117938
        ...
70    1.429130
71    3.924119
72    4.408456
73    4.047016
74    1.147491
75    7.015686
76    3.453925
77    0.694682
78    4.263959
79    3.079025
80    3.928785
81   -4.127033
82    5.642211
83    3.305261
84    3.329059
85    2.139809
86    4.534737
87    4.969840
88    3.541672
89    5.783972
90    3.159685
91    2.200071
92    0.944299
93    1.830564
94    4.633188
95    2.836106
96    2.310468
97    4.056576
98    0.862022
99    1.976237
Length: 100, dtype: float64
==========
[1.36953139e+00 9.43263529e-01 5.90662580e-01 2.06547765e-01
 2.23204365e-01 1.85278158e-01 9.90220756e+00 2.64601787e-02
 9.38149878e+00 1.43379364e+00 2.90928847e+00 1.01052036e+00
 1.42925431e+00 1.70293783e-01 3.16964325e+00 1.10505087e+00
 4.34192268e+00 7.83959594e-01 3.55349165e-01 7.41240017e-01
 3.23103515e+00 1.76525888e-01 3.34519333e-01 8.47598413e-01
 6.80654258e-02 1.23895671e+00 1.31426084e+00 1.59649532e+00
 5.45822104e+00 5.04450176e+00 2.51717022e-01 2.09502137e+00
 1.17212349e+00 5.57388093e-01 5.31334241e+00 1.99174605e-01
 9.53381511e-01 4.14742057e-02 1.09450111e+00 5.64765213e-01
 9.27068911e-02 8.88595210e-01 1.53613947e+00 8.18164070e-01
 2.77489946e+00 5.66805020e-01 4.70827521e-01 1.75978545e-02
 1.14507991e+00 2.03332448e+00 7.18001322e-01 1.90836197e+00
 1.00253769e+00 1.87915651e+01 9.47710186e-01 4.63311606e-02
 1.52185850e+00 1.73491090e+00 1.37832607e-01 1.47484589e-01
 1.04245942e+00 8.35623875e-01 1.95151506e-02 1.84834431e-01
 1.67264331e+01 4.16069690e-01 1.31839878e+00 3.80921699e-02
 1.67174593e+00 3.23949431e+00 4.09151969e-01 1.34869430e+01
 1.43296425e-02 2.40122919e+00 4.12087860e-01 3.17428670e+00
 2.12126183e+00 4.89239420e+00 1.80987318e+00 7.14599766e-01
 1.57989134e+00 2.40999466e-01 2.82982295e+00 5.23347907e+00
 3.87701669e+00 2.43169806e-01 1.38686797e-01 8.42358774e-01
 2.48469239e+00 3.83033651e+00 1.63103280e+00 9.98687708e-01
 1.42960635e+00 8.74231215e+00 2.14002223e-02 1.32831592e-01
 3.41970487e+00 8.90555449e-01 9.83150256e-02 1.34329744e-01]
==========
[55 68 73 59 60 57 73 14 38  8 10 74 65  9 37 15 93 70 54 83 63 30 71 68
 65 89 18 87 27 31 49 20  8 43 76 43 86 91 13 97 73 26 89 92 60 76 50 91
 45 53 44 67 23 20 11 88 52 12 19 73 86 67 21 11 62  9 86 67 20 48 14 72
 67 23 93 82  3 85 91 46 30 72 51 60 11 25 52 70 25  6 36 38 46 68  6 55
 98 98 59 36]

In [25]:
print(d1.count())

100

In [26]:
print(d1.max())
print(d2.min())

7.781921030926066
0.014329642526100791

In [27]:
print(d1.idxmax())
print(d1.idxmin())

39
81

In [28]:
print(d1.quantile(0.1))

0.6870184644069928

In [29]:
print(d1.sum())
print(d1.mean())

307.0224566250873
3.070224566250874

In [30]:
df=pd.DataFrame(np.array([d1,d2,d3]).T,columns=['X1','X2','X3'])
print(df.head())

         X1        X2    X3
0  3.942870  1.369531  55.0
1  0.618049  0.943264  68.0
2  5.865414  0.590663  73.0
3  2.374696  0.206548  59.0
4  1.558823  0.223204  60.0

In [31]:
def stats(x):
    return pd.Series([x.count(), x.min(), x.idxmin(), x.quantile(.25), x.median(), x.quantile(.75),
                      x.mean(), x.max(), x.idxmax(), x.mad(), x.var(), x.std(), x.skew(), x.kurt()],
                     index=['Count', 'Min', 'Whicn_Min', 'Q1', 'Median', 'Q3', 'Mean', 'Max',
                            'Which_Max', 'Mad', 'Var', 'Std', 'Skew', 'Kurt'])

In [32]:
print(df.apply(stats))

                   X1          X2          X3
Count      100.000000  100.000000  100.000000
Min         -4.127033    0.014330    3.000000
Whicn_Min   81.000000   72.000000   76.000000
Q1           2.040101    0.249580   25.000000
Median       3.204555    1.000613   54.500000
Q3           4.434788    2.101581   73.000000
Mean         3.070225    2.028608   51.490000
Max          7.781921   18.791565   98.000000
Which_Max   39.000000   53.000000   96.000000
Mad          1.511288    1.922669   24.010800
Var          4.005609   10.206447  780.090808
Std          2.001402    3.194753   27.930106
Skew        -0.649478    3.326246   -0.118917
Kurt         1.220109   12.636286   -1.211579

In [33]:
print(student['Sex'].describe())

count     19
unique     2
top        M
freq      10
Name: Sex, dtype: object