In [3]:
import pandas as pd
import numpy as np

dic2 = {'Name': ['Steve', 'Amy', 'Saar', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy'],
        'Score': [88, 76, 89, 67, 79, 90, 92, 100]}
score = pd.DataFrame(dic2)
print(score)

print(10*'=')

student=pd.DataFrame({'Age': [11, 23, 51, 2, 1, 45, 63, 21], 'Height': [1, 2, 3, 6, 5, 4, 7, 8],
                    'Weight': [25, 14, 36, 85, 47, 98, 74, 51],
                    'Sex': ['F', 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
                    'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy']})
print(student)

    Name  Score
0  Steve     88
1    Amy     76
2   Saar     89
3    CCL     67
4   Chph     79
5    Sue     90
6  David     92
7  Jimmy    100
==========
   Age  Height  Weight Sex   Name
0   11       1      25   F  Steve
1   23       2      14   M   Jobs
2   51       3      36   F   Mark
3    2       6      85   F    CCL
4    1       5      47   M   Chph
5   45       4      98   M    Sue
6   63       7      74   M  David
7   21       8      51   F  Jimmy

In [4]:
stu_score = pd.merge(student, score, on='Name', how='outer')

print(stu_score)

    Age  Height  Weight  Sex   Name  Score
0  11.0     1.0    25.0    F  Steve   88.0
1  23.0     2.0    14.0    M   Jobs    NaN
2  51.0     3.0    36.0    F   Mark    NaN
3   2.0     6.0    85.0    F    CCL   67.0
4   1.0     5.0    47.0    M   Chph   79.0
5  45.0     4.0    98.0    M    Sue   90.0
6  63.0     7.0    74.0    M  David   92.0
7  21.0     8.0    51.0    F  Jimmy  100.0
8   NaN     NaN     NaN  NaN    Amy   76.0
9   NaN     NaN     NaN  NaN   Saar   89.0

In [5]:
s = stu_score['Score']
print(s)
print(type(s))

0     88.0
1      NaN
2      NaN
3     67.0
4     79.0
5     90.0
6     92.0
7    100.0
8     76.0
9     89.0
Name: Score, dtype: float64
<class 'pandas.core.series.Series'>

In [6]:
print(sum(pd.isnull(s)))

2

In [7]:
print(s.dropna())

0     88.0
3     67.0
4     79.0
5     90.0
6     92.0
7    100.0
8     76.0
9     89.0
Name: Score, dtype: float64

In [8]:
df = pd.DataFrame([[1, 1, 2], 
                   [3, 5, np.nan], 
                   [13, 21, 34], 
                   [55, np.nan, 10], 
                   [np.nan, np.nan, np.nan], 
                   [np.nan, 1, 2]],
                  columns=('x1', 'x2', 'x3'))
print(df)
print(df.dropna())

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   NaN
2  13.0  21.0  34.0
3  55.0   NaN  10.0
4   NaN   NaN   NaN
5   NaN   1.0   2.0
     x1    x2    x3
0   1.0   1.0   2.0
2  13.0  21.0  34.0

In [10]:
print(df.fillna(-1))

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  -1.0
2  13.0  21.0  34.0
3  55.0  -1.0  10.0
4  -1.0  -1.0  -1.0
5  -1.0   1.0   2.0

In [11]:
print(df.fillna(method='ffill'))
print(10 * '=')
print(df.fillna(method='bfill'))

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   2.0
2  13.0  21.0  34.0
3  55.0  21.0  10.0
4  55.0  21.0  10.0
5  55.0   1.0   2.0
==========
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  34.0
2  13.0  21.0  34.0
3  55.0   1.0  10.0
4   NaN   1.0   2.0
5   NaN   1.0   2.0

In [12]:
print(df.fillna({'x1': 1, 'x2': 2, 'x3': 3}))

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   3.0
2  13.0  21.0  34.0
3  55.0   2.0  10.0
4   1.0   2.0   3.0
5   1.0   1.0   2.0

In [13]:
x1_median=df['x1'].median()
x2_mean=df['x2'].mean()
x3_mean=df['x3'].mean()

In [14]:
print(x1_median)
print(x2_mean)
print(x3_mean)
print(df.fillna({'x1': x1_median, 'x2': x2_mean, 'x3': x3_mean}))

8.0
7.0
12.0
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  12.0
2  13.0  21.0  34.0
3  55.0   7.0  10.0
4   8.0   7.0  12.0
5   8.0   1.0   2.0