In [1]:
import numpy as np
import pandas as pd

dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2=pd.DataFrame(dic)
print(student2)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

In [2]:
student3=pd.concat([student2,student2])
print(student3)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

In [3]:
print(student3.loc[[0]])

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
0  LiuShunxiang   M   27   165.7      61

In [4]:
print(pd.DataFrame(student2,columns=['Age','Height','Name','Sex','Weight','Score']))

   Age  Height          Name Sex  Weight  Score
0   27   165.7  LiuShunxiang   M      61    NaN
1   23   167.2     Zhangshan   F      63    NaN

In [5]:
print(pd.DataFrame(student2, columns=['Age', 'Height', 'Name', 'Sex', 'Weight']))

   Age  Height          Name Sex  Weight
0   27   165.7  LiuShunxiang   M      61
1   23   167.2     Zhangshan   F      63

In [6]:
print(pd.DataFrame(student2,columns=['Height','Name','Sex','Weight','Score','Age']))

   Height          Name Sex  Weight  Score  Age
0   165.7  LiuShunxiang   M      61    NaN   27
1   167.2     Zhangshan   F      63    NaN   23

In [7]:
del student2
print(student2)

NameError: name 'student2' is not defined

In [8]:
print(student3.drop([0,1,2]))

Empty DataFrame
Columns: [Name, Sex, Age, Height, Weight]
Index: []

In [9]:
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2=pd.DataFrame(dic)
print(student2)

print(student2.drop(0))

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
        Name Sex  Age  Height  Weight
1  Zhangshan   F   23   167.2      63

In [10]:
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2=pd.DataFrame(dic)
print(student2)

print(student2.drop('Name'))

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

KeyError: "labels ['Name'] not contained in axis"

In [11]:
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2=pd.DataFrame(dic)
print(student2)

print(student2.drop(['Name']))

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

KeyError: "labels ['Name'] not contained in axis"

In [12]:
dic = {'Name': ['LiuShunxiang', 'Zhangshan'], 'Sex': ['M', 'F'], 'Age': [27, 23], 'Height': [165.7, 167.2],
       'Weight': [61, 63]}
student2 = pd.DataFrame(dic)
print(student2)

print(student2[student2['Age'] > 24])

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61

In [13]:
print(student2.drop(['Age'],axis=1))

           Name Sex  Height  Weight
0  LiuShunxiang   M   165.7      61
1     Zhangshan   F   167.2      63

In [14]:
student2.loc[student2['Name']=='LiuShunxiang','Age']==100
print(student2)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

In [15]:
student2.loc[student2['Name'] == 'LiuShunxiang', 'Age'] = 100
print(student2)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M  100   165.7      61
1     Zhangshan   F   23   167.2      63

In [16]:
dic = {'Name': ['LiuShunxiang', 'Zhangshan', 'Yege', 'ccl'], 'Sex': ['M', 'F', 'M', 'F'], 'Age': [27, 23, 21, 21],
       'Height': [165.7, 167.2, 173, 165],
       'Weight': [61, 63, 80, 100]}
student3 = pd.DataFrame(dic)
print(student3)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63
2          Yege   M   21   173.0      80
3           ccl   F   21   165.0     100

In [17]:
print(student3.groupby('Sex').mean())

      Age  Height  Weight
Sex
F    22.0  166.10    81.5
M    24.0  169.35    70.5

In [18]:
print(student3.groupby(['Sex','Age']).mean())

         Height  Weight
Sex Age
F   21    165.0     100
    23    167.2      63
M   21    173.0      80
    27    165.7      61

In [19]:
print(student3.groupby(['Sex','Age']).agg([np.mean,np.median]))

        Height        Weight
          mean median   mean median
Sex Age
F   21   165.0  165.0    100    100
    23   167.2  167.2     63     63
M   21   173.0  173.0     80     80
    27   165.7  165.7     61     61

In [20]:
print(student3.groupby(['Sex']).agg([np.mean,np.median]))

     Age         Height         Weight
    mean median    mean  median   mean median
Sex
F     22     22  166.10  166.10   81.5   81.5
M     24     24  169.35  169.35   70.5   70.5

In [21]:
Data = pd.DataFrame(np.array(np.random.randint(1, 20, 10)))
print(Data)
print(Data.sort_index())
print(Data.sort_values(ascending=False))

    0
0   4
1   1
2  16
3   6
4   6
5   6
6  16
7  11
8   6
9  17
    0
0   4
1   1
2  16
3   6
4   6
5   6
6  16
7  11
8   6
9  17

TypeError: sort_values() missing 1 required positional argument: 'by'

In [22]:
print(Data.sort_values(ascending=False, by=0))

    0
9  17
2  16
6  16
7  11
3   6
4   6
5   6
8   6
0   4
1   1

In [23]:
print(Data.sort_values(ascending=True, by=0))

    0
1   1
0   4
3   6
4   6
5   6
8   6
7  11
2  16
6  16
9  17

In [24]:
print(Data.sort_values(ascending=True, by=1))

KeyError: 1

In [25]:
print(Data.sort_values(ascending=True, by=0))

    0
1   1
0   4
3   6
4   6
5   6
8   6
7  11
2  16
6  16
9  17

In [1]:
import numpy as np
import pandas as pd

student = np.array({'Age': [11, 23, 51, 2, 1, 45, 63, 21], 'Height': [1, 2, 3, 6, 5, 4, 7, 8],
                    'Weight': [25, 14, 36, 85, 47, 98, 74, 51],
                    'Sex': ['F', 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
                    'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy']})

print(student)

{'Age': [11, 23, 51, 2, 1, 45, 63, 21], 'Height': [1, 2, 3, 6, 5, 4, 7, 8], 'Weight': [25, 14, 36, 85, 47, 98, 74, 51], 'Sex': ['F', 'M', 'F', 'F', 'M', 'M', 'M', 'F'], 'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy']}

In [2]:
student = pd.DataFrame(student)
print(student)

ValueError: Must pass 2-d input

In [3]:
student=pd.DataFrame({'Age': [11, 23, 51, 2, 1, 45, 63, 21], 'Height': [1, 2, 3, 6, 5, 4, 7, 8],
                    'Weight': [25, 14, 36, 85, 47, 98, 74, 51],
                    'Sex': ['F', 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
                    'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy']})
print(student)

   Age  Height  Weight Sex   Name
0   11       1      25   F  Steve
1   23       2      14   M   Jobs
2   51       3      36   F   Mark
3    2       6      85   F    CCL
4    1       5      47   M   Chph
5   45       4      98   M    Sue
6   63       7      74   M  David
7   21       8      51   F  Jimmy

In [4]:
print(student.sort_values(by=['Age', 'Weight']))

   Age  Height  Weight Sex   Name
4    1       5      47   M   Chph
3    2       6      85   F    CCL
0   11       1      25   F  Steve
7   21       8      51   F  Jimmy
1   23       2      14   M   Jobs
5   45       4      98   M    Sue
2   51       3      36   F   Mark
6   63       7      74   M  David

In [5]:
dic2 = {'Name':['Alfred','Alice','Barbara','Carol','Henry','Jeffrey','Judy','Philip','Robert','Willam'],
        'Score':[88,76,89,67,79,90,92,86,73,77]}
score=pd.DataFrame(dic2)
print(score)

      Name  Score
0   Alfred     88
1    Alice     76
2  Barbara     89
3    Carol     67
4    Henry     79
5  Jeffrey     90
6     Judy     92
7   Philip     86
8   Robert     73
9   Willam     77

In [6]:
dic2 = {'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy'],
        'Score':[88,76,89,67,79,90,92]}
score=pd.DataFrame(dic2)
print(score)

ValueError: arrays must all be same length

In [7]:
dic2 = {'Name': ['Steve', 'Jobs', 'Mark', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy'],
        'Score': [88, 76, 89, 67, 79, 90, 92, 100]}
score = pd.DataFrame(dic2)
print(score)

    Name  Score
0  Steve     88
1   Jobs     76
2   Mark     89
3    CCL     67
4   Chph     79
5    Sue     90
6  David     92
7  Jimmy    100

In [8]:
student_score1 = pd.merge(student, score, on='Name')
print(student)
print(10*'=')
print(score)
print(10*'=')
print(student_score1)

   Age  Height  Weight Sex   Name
0   11       1      25   F  Steve
1   23       2      14   M   Jobs
2   51       3      36   F   Mark
3    2       6      85   F    CCL
4    1       5      47   M   Chph
5   45       4      98   M    Sue
6   63       7      74   M  David
7   21       8      51   F  Jimmy
==========
    Name  Score
0  Steve     88
1   Jobs     76
2   Mark     89
3    CCL     67
4   Chph     79
5    Sue     90
6  David     92
7  Jimmy    100
==========
   Age  Height  Weight Sex   Name  Score
0   11       1      25   F  Steve     88
1   23       2      14   M   Jobs     76
2   51       3      36   F   Mark     89
3    2       6      85   F    CCL     67
4    1       5      47   M   Chph     79
5   45       4      98   M    Sue     90
6   63       7      74   M  David     92
7   21       8      51   F  Jimmy    100

In [9]:
dic2 = {'Name': ['Steve', 'Jobs', 'CCL', 'Chph', 'Sue', 'David', 'Jimmy', 'Jack'],
        'Score': [88, 76, 89, 79, 90, 92, 100, 80]}
score = pd.DataFrame(dic2)
print(score)

    Name  Score
0  Steve     88
1   Jobs     76
2    CCL     89
3   Chph     79
4    Sue     90
5  David     92
6  Jimmy    100
7   Jack     80

In [10]:
stu_score2 = pd.merge(student, score, on='Name', how='left')

In [11]:
print(stu_score2)

   Age  Height  Weight Sex   Name  Score
0   11       1      25   F  Steve   88.0
1   23       2      14   M   Jobs   76.0
2   51       3      36   F   Mark    NaN
3    2       6      85   F    CCL   89.0
4    1       5      47   M   Chph   79.0
5   45       4      98   M    Sue   90.0
6   63       7      74   M  David   92.0
7   21       8      51   F  Jimmy  100.0

In [12]:
stu_score2 = pd.merge(student, score, on='Name', how='right')
print(stu_score2)

    Age  Height  Weight  Sex   Name  Score
0  11.0     1.0    25.0    F  Steve     88
1  23.0     2.0    14.0    M   Jobs     76
2   2.0     6.0    85.0    F    CCL     89
3   1.0     5.0    47.0    M   Chph     79
4  45.0     4.0    98.0    M    Sue     90
5  63.0     7.0    74.0    M  David     92
6  21.0     8.0    51.0    F  Jimmy    100
7   NaN     NaN     NaN  NaN   Jack     80

In [13]:
stu_score2 = pd.merge(student, score, on='Name', how='outer')
print(stu_score2)

    Age  Height  Weight  Sex   Name  Score
0  11.0     1.0    25.0    F  Steve   88.0
1  23.0     2.0    14.0    M   Jobs   76.0
2  51.0     3.0    36.0    F   Mark    NaN
3   2.0     6.0    85.0    F    CCL   89.0
4   1.0     5.0    47.0    M   Chph   79.0
5  45.0     4.0    98.0    M    Sue   90.0
6  63.0     7.0    74.0    M  David   92.0
7  21.0     8.0    51.0    F  Jimmy  100.0
8   NaN     NaN     NaN  NaN   Jack   80.0